.colorPicker {
  position: absolute;
  display: block;
  left: 17.25vw;
  top: 6.8vh;
  z-index: 100;
  border-radius: 6px;
  background-color: transparent;
  padding: 0;
  border-spacing: 0;
  border: none;
}

.hidden {
  display: none;
}

.colorChoice {
  display: inline-block;
  width: 2.5vh;
  height: 2.5vh;
  margin: 0;
}

.colorChoice:hover {
  box-shadow: inset 0 0 10px rgba(250,250,250,0.8);
}

.colorPicker td {
  display: inline-block;
  vertical-align: top;
  box-shadow: 2px 1px 1px 1px #ccc;
}

.colorPicker tr {
  display: block;
}